@tailwind base;
@tailwind components;
@tailwind utilities;

.App{
    
    background: rgb(239,221,204);
    background: -moz-linear-gradient(0deg, rgba(239,221,204,1) 0%, rgba(215,214,204,1) 80%, rgba(189,206,204,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(239,221,204,1) 0%, rgba(215,214,204,1) 80%, rgba(189,206,204,1) 100%);
    background: linear-gradient(0deg, rgba(239,221,204,1) 0%, rgba(215,214,204,1) 80%, rgba(189,206,204,1) 100%);
min-height: 100vh;
}

.bg-green {
    background-color: #BDCECC;
}
.bg-lightGreen {
    background-color: rgba(255, 255, 255, 0.5);
}

.inputDiv {
    display:flex;
    flex-direction:row;
    border:1px solid grey;
    padding:1px;
    background-color: white;
  }
  
  .inputDiv > input {
    flex-grow:2;
    border:none; 
  }
  
  .inputDiv > input:focus {
    outline: none;
  }
  
  .inputDiv:focus-within { 
    outline: 1px solid blue 
  }
  
  .inputDiv > button {
    color: #778482 ;
    padding-right: 1.25rem;
    transition: padding-right .5s;
  }

  .inputDiv > button:hover {
    color: #778482 ;
    padding-right: 1.1rem;

  }
  